<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sections <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="blog-home-1.html">How it works</a>
                        </li>
                        <li>
                            <a href="blog-home-2.html">FAQ</a>
                        </li>
                        <li>
                            <a href="blog-post.html">Photographers</a>
                        </li>
                        <li>
                            <a href="blog-post.html">Testimonials</a>
                        </li>
                        <li>
                            <a href="blog-post.html">How to join?</a>
                        </li>
                        <li>
                            <a href="blog-post.html">Sex contact magazines</a>
                        </li>
                        <li>
                            <a href="blog-post.html">Blog</a>
                        </li>
                        <li>
                            <a href="blog-post.html">Terms</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Regions <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let region of regions">
                            <a [routerLink]="['/region', region.region_id]">{{ region.region_name }}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Subcategories <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let subcategory of subcategories">
                            <a href="/subcategory/{{ subcategory.sc_id }}">{{ sc_title }}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="about.html">Your POSTCODE = SEX LOTTERY</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fetish contacts <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let subject of subjects">
                            <a href="/subject/{{ subject.subject_id }}">{{ subject.subject_title }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>